



/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h2 {
font-weight:bold; font-size:1.3em;
}

.indent {
padding-left: 30px;  padding-right: 30px 
}

.img-border {
background:transparent none
}

H3 {
font-weight:normal;  font-size:1.3em; font-style:italic; 
}

.vp-nolightbox {

}

.table-dotted-border {

}

.embedded-comment {
margin: 10px; border-radius: 8px; border: 1px solid #eaeaea; padding: 8px; box-shadow: 0 0 7px #CCCCCC;
}

