<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<configSections>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
		<section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" />
		<section name="Examine" type="Examine.Config.ExamineSettings, Examine" />
		<section name="ExamineLuceneIndexSets" type="UmbracoExamine.Config.ExamineLuceneIndexes, UmbracoExamine" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <!-- Added in Umbraco 4.6.2 -->
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
		<!-- End of added in Umbraco 4.6.2 -->
	</configSections>
  <log4net configSource="config\log4net.config" />
  <urlrewritingnet configSource="config\UrlRewriting.config" />
  <microsoft.scripting configSource="config\scripting.config" />
  <clientDependency configSource="config\ClientDependency.config" />
  <Examine configSource="config\ExamineSettings.config" />
  <ExamineLuceneIndexSets configSource="config\ExamineIndex.config" />
  <appSettings>  
   
      
    <add key="VP50jsonroot" value="/media/VP50/" />
      
      <add key="VP50jsonpath" value="/media/VP50/vp50-nordic-2014.js" />
      <add key="VP50Parent" value="15664" />
	
    <add key="VPSPIParent" value="2566" />
    <add key="VPSPIDocType" value="2563" />
    <add key="VPSPIImageRoot" value="/media/spi/" /> 
      
    <add key="VPMODE" value="live" />

    <add key="umb_vuiFolderRoot" value="2865" />
    <add key="VUI_importfolder" value="C:\TMP\Imports\" />
	
    <add key="VUI_importtempfolder" value="imgtmp" />
    <add key="VUI_mediafolder" value="~/vui-media/media/" />
    <add key="VUI_maxwidth_full" value="1280" />
    <add key="VUI_maxwidth_lg" value="760" />
    <add key="VUI_maxwidth_md" value="300" />
    <add key="VUI_maxwidth_th" value="170" />
	
    <add key="VUI_pagetypelist" value="2866" />
    <add key="VUI_ScoringPageTypes" value="2850" />
    
  
    <add key="VUI_substypelist" value="2852" />
    <add key="VUI_previewservice" value="4oD" />
    <add key="VUI_function_list" value="2850" />
    <add key="VUI_BenchmarkDevicesList" value="7489" />
	
    <add key="VUI_codesnippet_unauth" value="3869" />
    <add key="VUI_codesnippet_reg" value="3869" />
    <add key="VUI_codesnippet_subs" value="5357" />
    <add key="VUI_transaction_log" value="6772" />
    <add key="VUI_codesnippet_buy" value="6827" />
    <add key="VUI_product_list" value="6817" />
	<add key="VUI_information_root" value="6825" />

	<add key="VUI_invoicestatus_list" value="6812" />
    <add key="VUI_paypal_form" value="6820" />

    
    <add key="VUI_paypal_use_sandbox" value="YES" /><!-- NO -->
    <add key="VUI_paypal_ac" value="oliver_1346325251_biz@vodprofessional.com" /><!-- kauserkanji@ -->
    <add key="VUI_paypal_return" value="http://dev.vodprofessional.com/vui/subscribe/thankyou/#TRANSACTIONNUMBER#" />
    <add key="VUI_paypal_notify_url" value="http://dev.vodprofessional.com/vui/vuiipnprocess" />

    <add key="VUI_login_page" value="/vui/#login" />
    <add key="VUI_loginregister_page" value="/vui/loginregister/" />
    <add key="VUI_confirm_page" value="/vui/vuilogin" />
    <add key="VUI_admin_page" value="/vui/vuiadmin" />
    <add key="VUI_subscribe_page" value="/vui/subscribe" />
    <add key="VUI_checkout_page" value="/vui/subscribe/checkout" />
    <add key="VUI_subscribecomplete_page" value="/vui/subscribe/complete" />
    <add key="VUI_preview_benchmark_url" value="/vui/benchmarking/devices/All" />

    <add key="VUI_confirm_email_template_path" value="~/App_Data/vui-email-confirm.txt" />
    <add key="VUI_registration_notification_email_template_path" value="~/App_Data/vui-email-reg-complete.txt" />
    <add key="VUI_subscription_complete_email_template_path" value="~/App_Data/vui-email-subscription-complete.txt" />
    <add key="VUI_password_reset_email_template_path" value="~/App_Data/vui-email-reset-password.txt" />

    <add key="VUI_pagetype_scores" value="Splash page,0;Homepage,1;Category homepage,4;Categorisation,4;Video description ,4;Branded video player ,6;Native video player,0;YouTube video player,0;Content recommendation,6;Most popular,4;Recently added,4;Favourites,6;Viewing history,6;EPG,0;Help,3;Watch on other platforms,6;Parental controls,4;Contact,6;About,5;Search,3;Predictive search,3;A-Z page,6;Playlists,6;Sign in / Register,3;Social sharing (out),4;Social sharing (in-service),6;Buy / Subscribe,6;Special functionality,6;Accessibility,4;Advertising functionality,0" />
	
	<!-- VUI 2 Constants -->
    <add key="VUI2_platformtype" value="VUI2Platform" />
    <add key="VUI2_devicetype" value="VUI2Device" />
    <add key="VUI2_servicetype" value="VUI2Service" />
    <add key="VUI2_analysistype" value="VUI2Analysis" />
    <add key="VUI2_screenshottype" value="VUI_Image" />
    <add key="VUI2_rootnodeid" value="10113" />
    <add key="VUI_hotfeatures_list" value="10097" />

      <add key="VUI2_ServiceMastersRoot" value="16934" />
      <add key="VUI2_DeviceAvailabilityID" value="16931" />

      <add key="VUI2_ServiceMasterGen_Preview" value="NO" />

      <add key="VUI2_RatingDeviceTypes" value="Smartphone/Android;Smartphone/iPhone;Smartphone/Windows;Tablet/Android;Tablet/iPad" />

      <add key="VUI_TwitterHandle" value="VUITestFeed" />
      <add key="TwitterConsumerKey" value="h6Lp5q6y7mSu1dmOkAaNnQ" />
      <add key="TwitterConsumerSecret" value="VUsktOaT6Z68cqm4U4jAQXXs7kmvWNbUjBQ0ZAzMCM" />
      <add key="TwitterAccessToken" value="1670093640-7UHXI3zpk7tdd44FlZxGfr1gcsK77QRQpZaVfg" />
      <add key="TwitterAccessTokenSecret" value="UaNgXlHUhSSV5Cipln943MrkdyvcZngqdKKmcHNE" />
      <add key="TwitterOAuthURL" value="https://api.twitter.com/oauth2/token" />

      <!--
      <add key="VUI_TwitterHandle" value="vuilibrary"/>
      <add key="TwitterConsumerKey" value="7CSY9c3trg3TVOsTJQyIQ"/>
      <add key="TwitterConsumerSecret" value="5QdrL6tWFlaTHtUD899Rf4NzuAu6N1Cw5gM5bBczKQU"/>
      <add key="TwitterAccessToken" value="1583018654-s2kq2kKzWIYuVm836HjrYVVBKKhJvBgGcwXUnbT"/>
      <add key="TwitterAccessTokenSecret" value="VkKfjQKS9mX3baxuXKntCv1R5AaEwHju5QvmgtLc8"/>
      <add key="TwitterOAuthURL" value="https://api.twitter.com/oauth2/token" />
      
      		<add key="VUI_TwitterHandle" value="vodprofessional"/>
        <add key="TwitterConsumerKey" value="ykemUmGjPpjRxd5BCIvhw"/>
        <add key="TwitterConsumerSecret" value="cVaNw7XxQMTOMP7kIVQRdhIodQM8GyTXCestkp7RTg"/>
        <add key="TwitterAccessToken" value="264847179-xAwsLmGq6zTg42cswUfVBjV9O6JNpeYqSfgemjYe"/>
        <add key="TwitterAccessTokenSecret" value="wqChulmNXOc7yjcnB36oLFPTb3mJHBIPw8n6xLWaIP9rw"/>
        <add key="TwitterOAuthURL" value="https://api.twitter.com/oauth2/token" />
-->


      <!-- @VUILibrary. Username: vuilibrary Password: vuilibrary13 -->

      <add key="VUI_EncryptImageURLs" value="NO" /> <!-- YES -->
      <add key="VUI3ImageHandlerURL" value="/handlers/vui-image.ashx?" />
      <add key="VUI3PreviewService" value="4oD" />
      <add key="VUI3_ContactEmailTemplate" value="~/App_Data/vui-email-contact-request.txt" />
      
      <!-- For Picking up the Page Function Descriptions -->
      <add key="VUI3_PageFunctionDescriptions" value="20135" />
      <!--
      <add key="VUI3_PageFunctionDescriptions" value="17881"/>
      <add key="VUI3_PageFunctionDescriptions" value="17892"/> -->

      <add key="VUI_2016PageTypes" value="36912"/>
      <add key="VUI_Scoring2016Features" value="36913"/>

    <!-- 2014 Redesign Keys -->
      <add key="VP2014_SITE_ROOT" value="1058" />
      <add key="VP2014_FEATURE_ROOT" value="1078" />
      <add key="VP2014_NEWS_ROOT" value="1059" />
      <add key="VP2014_MAX_ARTICLES_TO_LOAD" value="280" />
      <add key="VP2014_RECOVER_EMAIL_PATH" value="~/App_Data/vp2014-email-reset-password.txt" />
      <add key="JOBSERVE_XML" value="http://www.labs.jobserve.com/services/v0.3.7/Core.svc/SiteGBR?source=39FB8404A11155&amp;pagesize=100&amp;sort=EXPLORER_DATE_DESC&amp;skills=vod%20or%20%22video%20on%20demand%22%20or%20video%20or%20iptv%20or%20%22connected%20tv%22%20or%20television%20or%20transcode%20or%20ingest" />
      
      <add key="VP2014_RHS_TEMPLATE_KEYS" value="default;VP2014-signin;VP2014-registration" />
      <add key="VP2014_RHS_TEMPLATE_default" value="SIGNUP;SPONSORS;VPAD;NEWHERE;MPU;JOBS;MOSTPOPULAR" />
      <add key="VP2014_RHS_TEMPLATE_VP2014-signin" value="VPAD;MPU;MOSTPOPULAR" />
      <add key="VP2014_RHS_TEMPLATE_VP2014-registration" value="VPAD;MPU;MOSTPOPULAR" />

      <add key="VP2014_EMAIL_TEMPLATE_FOLDER" value="27398" />
      <add key="VUI_QUEUE_SLEEP_TIME" value="10000" /> <!-- milliseconds -->

      <add key="MEM_allowSetAllAsRegistrants" value="false" />


    <!-- 2015 Calendar Keys -->
    <add key="VP2014_CALENDAR_ROOT" value="35087" />
    <add key="USER_UPLOAD_URL" value="/_user/upload" />
    <add key="USER_UPLOAD_RESIZED_URL" value="/_user/resized" />
    <add key="USER_UPLOAD_SIZE_LIMIT" value="307200" />
    <add key="CALENDAR_TECHNICAL_RECIPIENTS" value="oliverwood@vodprofessional.com;oliver.wood@bitetos.com" /><!-- semi-colon spe list -->
    <!-- 300KB -->
    <add key="USER_UPLOAD_FREESPACE_LIMIT" value="100000000" />
    <!-- 100MB -->
    <add key="CalendarUploadImageMaxDimension" value="400" />
    <add key="CalendarUploadImageThMaxDimension" value="200" />
    <add key="RecaptchaSiteKey" value="6LflKQ4TAAAAAFEohes-Dhl2yWZ2YeL8u9cHg3sA" />
    <add key="RecaptchaSiteSecret" value="6LflKQ4TAAAAANyse0MjIzajWHdByD2hvfEcUOK3" />
    <add key="LoggedInRedirect" value="/members/welcome" />



    <add key="umbracoDbDSN" value="server=DEV1-BITETOS\SQL2014;database=vodprofessional_umbraco;user id=vodprofessional_dbo;password=number9dream" />
    <!--<add key="umbracoDbDSN" value="server=DEV1-BITETOS\SQL2014;database=vodprofessional_umbraco_ext;user id=vodprofessional_dbo;password=number9dream" />-->
        
    <add key="umbracoConfigurationStatus" value="4.7.0" />
    <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx" />
    <add key="umbracoReservedPaths" value="~/umbraco,~/install/" />
    <add key="umbracoContentXML" value="~/App_Data/umbraco.config" />
    <add key="umbracoStorageDirectory" value="~/App_Data" />
    <add key="umbracoPath" value="~/umbraco" />
    <add key="umbracoEnableStat" value="false" />
    <add key="umbracoHideTopLevelNodeFromPath" value="true" />
    <add key="umbracoEditXhtmlMode" value="true" />
    <add key="umbracoUseDirectoryUrls" value="true" />
    <add key="umbracoDebugMode" value="true" />
    <add key="umbracoTimeOutInMinutes" value="60" />
    <add key="umbracoVersionCheckPeriod" value="7" />
    <add key="umbracoDisableXsltExtensions" value="true" />
    <add key="umbracoDefaultUILanguage" value="en" />
    <add key="umbracoProfileUrl" value="profiler" />
    <add key="umbracoUseSSL" value="false" />
    <add key="umbracoUseMediumTrust" value="false" />
    <!-- 
        Set this to true to enable storing the xml cache locally to the IIS server even if the app files are stored centrally on a SAN/NAS 
        Alex Norcliffe 2010 02 for 4.1 -->
    <add key="umbracoContentXMLUseLocalTemp" value="false" />
    <!-- Added in Umbraco 4.6.2 -->
    <add key="webpages:Enabled" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <!-- End of added in Umbraco 4.6.2 -->
  </appSettings>
  <system.net>
      <mailSettings>
          <smtp deliveryMethod="Network" from="VOD Professional Administrator &lt;admin@vodprofessional.com>">
              <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="admin@vodprofessional.com" password="hytg%$1934" />
          </smtp>
      </mailSettings>
  </system.net>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add name="LocalSqlServer" connectionString="server=.\sqlexpress;database=aspnetdb;user id=DBUSER;password=DBPASSWORD" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
      <customErrors mode="Off" />
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
    <xhtmlConformance mode="Strict" />
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" />
    <pages enableEventValidation="false">
      <!-- ASPNETAJAX -->
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="umbraco" namespace="umbraco.presentation.templateControls" assembly="umbraco" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="recaptcha" namespace="Recaptcha" assembly="Recaptcha" />
	  </controls>
    </pages>
    <httpModules>
      <!-- URL REWRTIER -->
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="umbracoRequestModule" type="umbraco.presentation.requestModule" />
      <!-- UMBRACO -->
      <add name="viewstateMoverModule" type="umbraco.presentation.viewstateMoverModule" />
      <add name="umbracoBaseRequestModule" type="umbraco.presentation.umbracobase.requestModule" />
      <!-- ASPNETAJAX -->
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!-- CLIENT DEPENDENCY -->
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
    <add name="uComponentsModule" type="uComponents.Core.Modules.uComponentsModule, uComponents.Core" /></httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <!-- ASPNETAJAX -->
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <!-- UMBRACO CHANNELS -->
      <add verb="*" path="umbraco/channels.aspx" type="umbraco.presentation.channels.api, umbraco" />
      <add verb="*" path="umbraco/channels/word.aspx" type="umbraco.presentation.channels.wordApi, umbraco" />
      <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
      <add verb="GET,HEAD,POST" path="GoogleSpellChecker.ashx" type="umbraco.presentation.umbraco_client.tinymce3.plugins.spellchecker.GoogleSpellChecker,umbraco" />
    <add path="umbraco/REST/umbraconodename" verb="*" type="TheFarm.Umbraco.EmbeddedContent.UmbracoNodeNameHandler, TheFarm.Umbraco.EmbeddedContent" validate="true" /></httpHandlers>
    <compilation defaultLanguage="c#" debug="true" batch="false" targetFramework="4.0">
      <assemblies>
        <!-- ASP.NET 4.0 Assemblies -->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
      <!-- Added in Umbraco 4.6.2 -->
      <buildProviders>
        <add extension=".cshtml" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines" />
        <add extension=".vbhtml" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines" />
        <add extension=".razor" type="umbraco.MacroEngines.RazorBuildProvider, umbraco.MacroEngines" />
      </buildProviders>
      <!-- End of added in Umbraco 4.6.2 -->
    </compilation>
    <authentication mode="Forms">
      <forms name="yourAuthCookie" loginUrl="login.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <!-- Membership Provider -->
    <membership defaultProvider="UmbracoMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="UmbracoMembershipProvider" type="umbraco.providers.members.UmbracoMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" defaultMemberTypeAlias="subscribers" passwordFormat="Hashed" />
        <add name="UsersMembershipProvider" type="umbraco.providers.UsersMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" passwordFormat="Hashed" />
      </providers>
    </membership>
    <!-- added by NH to support membership providers in access layer -->
    <roleManager enabled="true" defaultProvider="UmbracoRoleProvider">
      <providers>
        <clear />
        <add name="UmbracoRoleProvider" type="umbraco.providers.members.UmbracoRoleProvider" />
      </providers>
    </roleManager>
    <!-- Sitemap provider-->
    <siteMap defaultProvider="UmbracoSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="UmbracoSiteMapProvider" type="umbraco.presentation.nodeFactory.UmbracoSiteMapProvider" defaultDescriptionAlias="description" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
  </system.web>
  <!-- ASPNETAJAX -->
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <remove name="UrlRewriteModule" />
      <remove name="umbracoRequestModule" />
      <remove name="viewstateMoverModule" />
      <remove name="umbracoBaseRequestModule" />
      <remove name="ClientDependencyModule" />
      <!-- Needed for login/membership to work on homepage (as per http://stackoverflow.com/questions/218057/httpcontext-current-session-is-null-when-routing-requests) -->
      <remove name="FormsAuthentication" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="umbracoRequestModule" type="umbraco.presentation.requestModule" />
      <add name="viewstateMoverModule" type="umbraco.presentation.viewstateMoverModule" />
      <add name="umbracoBaseRequestModule" type="umbraco.presentation.umbracobase.requestModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
      <!-- Needed for login/membership to work on homepage (as per http://stackoverflow.com/questions/218057/httpcontext-current-session-is-null-when-routing-requests) -->
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
    <add name="uComponentsModule" type="uComponents.Core.Modules.uComponentsModule, uComponents.Core" /></modules>
    <handlers accessPolicy="Read, Write, Script, Execute">
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="Channels" />
      <remove name="Channels_Word" />
      <remove name="ClientDependency" />
      <remove name="SpellChecker" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" name="Channels" preCondition="integratedMode" path="umbraco/channels.aspx" type="umbraco.presentation.channels.api, umbraco" />
      <add verb="*" name="Channels_Word" preCondition="integratedMode" path="umbraco/channels/word.aspx" type="umbraco.presentation.channels.wordApi, umbraco" />
      <add verb="*" name="ClientDependency" preCondition="integratedMode" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
      <add verb="GET,HEAD,POST" preCondition="integratedMode" name="SpellChecker" path="GoogleSpellChecker.ashx" type="umbraco.presentation.umbraco_client.tinymce3.plugins.spellchecker.GoogleSpellChecker,umbraco" />
    <remove name="UmbracoNodeName" /><add name="UmbracoNodeName" path="umbraco/REST/umbraconodename" verb="*" type="TheFarm.Umbraco.EmbeddedContent.UmbracoNodeNameHandler, TheFarm.Umbraco.EmbeddedContent" preCondition="integratedMode" /></handlers>
    <!-- Adobe AIR mime type -->
    <staticContent>
      <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
    </staticContent>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <!-- Old asp.net ajax assembly bindings -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Added in Umbraco 4.6.2 -->
  <system.web.webPages.razor>
    <host factoryType="umbraco.MacroEngines.RazorUmbracoFactory, umbraco.MacroEngines" />
    <pages pageBaseType="umbraco.MacroEngines.DynamicNodeContext">
      <namespaces>
        <add namespace="Microsoft.Web.Helpers" />
        <add namespace="umbraco" />
        <add namespace="Examine" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <!-- End of added in Umbraco 4.6.2 -->


</configuration>