@{ 
var snippetId = @Parameter.snippet;
try
{
    dynamic snippet = @Model.NodeById(@snippetId);
    if (snippet.NodeTypeAlias.Equals("HTMLSnippet"))
    {
        <span>@Html.Raw(snippet.code)</span>    
    }
    else
    {
        <span>@snippet.code</span>    
    }
}
catch (Exception e)
{
    <span>Error</span>
}
}