
<div class="spacer"></div>  
<div id="jobs">  
    
    <div class="jobadvertise">
    <h1 class="nobottomborder">VOD Jobs from JobServe</h1>
      To post a job visit
      <a target="_blank" title="Advertise on JobServe" href="http://www.jobserve.com/gb/en/Recruiter/QuickJobProductSelect.aspx">JobServe</a>
      and see how they can help you find the right candidate.
    </div>
    <div id="RSSJobs"></div>
    
    <div class="jobmore"><a href="/jobs/">More Jobs --></a></div>
  </div>