/* BASE */
body {
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  background-color: #EAEAEA;
}

h1, h2, h3, h4, h5, h6, header {
  font-family: $headline-font-family;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  line-height: 1.2em;

  a:hover {
    text-decoration: none;
  }
}

.container {
  min-width: 330px;

  @media (min-width: 1500px) {
    width: 1450px;
  }
}

#content {
  min-height: 1000px;
}