.navbar-default {
  background-color: transparent;
  font-family: $headline-font-family;
  border: 0;

  @media (max-width: 767px) {
    margin-bottom: 0;
    
    &.navbar-fixed-top {
        position: relative;
    }  
    .navbar-collapse {
      width: 100%;
      clear: both;

      ul {
        float: left !important;
      }
    }
  }

  .navbar-toggle {
    float: left;
    margin-right: 0;
    margin-top: 10px;
    border: 0 solid transparent;

    span {
      background-color: #CCC;
    }
  }
  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: transparent;
    border: 0 solid transparent;
    outline: none !important;
  }
  .navbar-toggle:hover {
    span {
      background-color: #FFF;
    }
  }

  #bg1  {
    background-color: #181829;

    .row {
      padding: 0 5px;
    }

    .social {
      @media(max-width: 767px) {
        display: none;
      }
    }
  }

  #bg2 {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #9B0000), color-stop(1, #E93336));
    background-image: -o-linear-gradient(top, #9B0000 33%, #E93336 100%);
    background-image: -moz-linear-gradient(top, #9B0000 33%, #E93336 100%);
    background-image: -webkit-linear-gradient(top, #9B0000 33%, #E93336 100%);
    background-image: -ms-linear-gradient(top, #9B0000 33%, #E93336 100%);
    background-image: linear-gradient(to top, #9B0000 33%, #E93336 100%);

    @media(max-width: 767px) {
      background-color: #181829;
      background-image: none;

      .navbar-collapse {
        padding: 0;
      }
    }

    .navbar-collapse {
      border: 0;
    }

    .row {
      padding: 0 15px 0 10px;
    }

    a {
      font-weight: normal !important;
      color: #FFF !important;
    }

    #search:focus {
      box-shadow: none;
      border-top: 1px solid #DDD;
      border-left: 1px solid #DDD;
      border-bottom: 1px solid #DDD;
    }
  }

  .navbar-brand {
    margin-left: 5px;
    height: 70px;
    width: 420px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/logo.png);
    background-image: url(../img/logo.svg), none;
    @media (max-width: 991px) {
      background-image: url(../img/logo-half.png);
      background-image: url(../img/logo.svg), none;
      height: 46px;
      width: 240px;
    }
    @media (max-width: 768px) {
      background-image: url(../img/logo-half.png);
      background-image: url(../img/logo.svg), none;
      height: 46px;
      width: 240px;
    }
    margin-top: 15px;
    text-indent: -9999px;
  }

  .navbar-collapse {
    @media(max-width: 767px) {
      background-color: #181829;
    }

    #nav-secondary {
      float: right;

      li {
        a {
          padding-left: 10px;
          padding-right: 10px;
          i {
            font-size: 18px;
            text-shadow: 0 0 1px #FFF;
          }
        }
        span {
            padding: 15px 10px;
            padding-top: 15px;
            line-height: 20px;
            display: block;
            position: relative;
            color: #fff;
        }
        @media(max-width: 767px) {
          color: #FFF;
        }

        a:hover {
          border-bottom: 5px solid #009BFF;
          @media(max-width: 767px) {
            border-bottom: 0;
          }
        }
      }
    }
    #nav-primary {
      margin: 0;
      font-size:0.9em;
      
      @media (min-width: 768px) and (max-width: 991px) {
        font-size:0.8em;
      }
      
      li {
        @media(max-width: 767px) {
          margin-left: -5px !important;
        }
        a {
          text-transform: uppercase;
          @media(max-width: 767px) {
            text-transform: none;
            font-family: $headline-font-family;
            letter-spacing: 0px;
            border: 0;
            margin-left: -5px !important;
          }
          font-weight: bold;
          padding: 0px 10px;
          color: #666;
          letter-spacing: 1px;
          font-family: Lato;
          border-right: 2px solid #FFF;
          margin: 10px 0;
        }
        a:hover {
          color: #181829 !important;
          @media(max-width: 767px) {
            color: #FFF !important;
          }
        }
      }

      li.last a {
        border-right: 0;
      }
    }
    div.form-group {
      float: right;
      @media(max-width: 767px) {
        display: none;
      }

      .input-group {
        margin-top: 5px;
        width:16.5em;

        @media (min-width: 768px) and (max-width: 991px) {
            width: 12em;
        }
        
        .form-control {
          -webkit-appearance: none;
          height: 30px;
          border-right: 0;
        }

        .input-group-addon {
          background-color: #FFF;
          cursor:pointer;
        }
      }
    }
  }

  .navbar-nav {
    margin-top: 20px;
    @media (max-width: 991px) {
      margin-top: 5px;
    }

    > li > a,
    > li > a:hover,
    li.active > a,
    li.active > a:hover {
      color: #FFF;
      font-weight: normal;
    }
  }
}
