$header-font-size: 24px;
$header-font-weight: 400;
$header-link-color: #333;

#column-full {
  h2 {

  }

  #inner-full, #inner-search-results {
    .article-preview {
      margin-top: 16px;
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: $dotted-border;
      padding-right: 3em;

      .text {
        float: left;
        width: 70%;

        header {
          font-size: $header-font-size;
          font-weight: $header-font-weight;
          margin-bottom: 5px;
          a {
          /*  color: $header-link-color; */
          }
        }
      }

      img {
        width: 30%;
        padding-right: 20px;
        float: left;
      }
      .text {
       /* font-size: 13px; */
      }
    }
  }
  
  #inner-search-results-google {
    .gsc-control-cse {
        padding: 0;
        font-family: Lato, Helvetica, Arial, sans-serif;
        
        .gsc-above-wrapper-area {
           border-bottom-style: dotted;
           .gsc-above-wrapper-area-container {
             .gsc-result-info {
               padding-left: 0;
             }
             .gsc-orderby-container {
               .gsc-orderby {
                 .gsc-option-menu-container {
                   .gsc-selected-option-container {
                     min-width: 65px;
                   }
                 }
               }
             }
           }
           
        }
        .gsc-wrapper {
          .gsc-webResult {
            .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top { padding-left: 0px; }
            
            .gsc-result {
              padding: 15px 0px;
              border-bottom: $dotted-border;
            }
             .gsc-table-result {
               padding-left:0;
               margin-left: 0px;
               font-size: 16px;
               font-family: Lato, Helvetica, Arial, sans-serif;
               .gs-image-box {
                 width:100px;
                 &.gs-web-image-box {
                   //padding-left: 8px;
                   padding-right: 10px;                   
                   width:100px;
                 }
                 &.gs-web-image-box-landscape {                 
                    width: 100px;
                    img.gs-image {
                        max-width:100px;       
                    }
                 }
                 &.gs-web-image-box-portrait { 
                    width: 100px;
                    img.gs-image {
                        max-width:100px;       
                    }
                 }
               }
             }
             .gs-title, .gs-title * {
                 font-size: 1.3em;
                 font-weight: 700;
                 height: inherit;
                 text-decoration: none;
             }
          }
        }
    }
  }
  // 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  // Lato, Helvetica, Arial, sans-serif;
  
  #inner-job-listing {
  
    margin-top: 10px;
    border-top: $dotted-border;
  
    .job {
      margin-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 6px;
      border-bottom: $dotted-border;

      padding-right: 3em;
      
      header {
        font-size: $header-font-size;
        font-weight: $header-font-weight;
        margin-bottom: 5px;
      }
      .post-date {
        color: #666;
      }
      .meta {
        font-weight:700;
      }
    }
  
  }
  
}