

#promotion {
    /* height: 1500px; */

  #inner-promotion {
    img {
      margin: 0 10px 20px 0px;
      width: 100%;
      box-shadow: 0 0 1px #CCC;
    }
    
    h2 {
       margin-top: 0;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
    }
    /* 
        border-bottom: 1px solid #D4D4D4;
        border-top: 5px solid #999999;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 0 20px;
        padding: 8px 0;
    }
    */
    
    
    ul {
        list-style: none;
        padding-left: 0;
        margin:0;
        border-radius: 5px;
        padding: 10px;
        color: #000;
        box-shadow: inset 0 0 3px #CCCCCC;
        background: #fff;
        li {
            list-item-style: none;
            padding-bottom:3px;
            margin-bottom: 3px;
            border-bottom: $dotted_border;
            &:last-child {
                border:0px none;
                padding-bottom:0px;
                margin-bottom: 0px;
            }
        }
    }
    
    #mpu {
        text-align:center;
    }
    
    #rhs-register {
        .rhs-form-signin {
            width:100%;     
            @media(min-width:1500px) {
                display:table;            
            }
            input {
                height: 46px;
                font-size:18px;
                @media(min-width:1500px) {
                    display:table-cell;
                    margin-right:1%;
                    width:59%;
                }
            }
            button {
                height: 46px;
                @media(max-width:1500px) {
                    margin-top: 5px;
                }
                @media(min-width:1500px) {
                    display:table-cell;
                    margin-left:1%;
                    width:39%;
                }
            }
        }
    }
    
    > #new-here, > #most-popular, > #sponsors, > #rhs-register {
        background: none repeat scroll 0 0 #F6F6F6;
        border: 1px solid #CCCCCC;
        box-shadow: 0 0 7px #CCCCCC;
        margin: 0 0 20px 0;
        padding: 10px 20px 20px;
        ul {
            margin-top: 10px;
            li {
              padding-top: 5px;
              padding-bottom: 5px;
              .expanded-item {
                a {
                  font-size:1.2em;
                  font-weight:700;
                }
                div {
                  width:100%;
                  display:table-row;
                  margin:0 10px 0 0;
                  span {
                    display: table-cell;
                    vertical-align: top;
                    
                    @media(max-width:1199px){
                        display: inline;
                        margin-top: 5px;
                    }
                  }
                  img {
                    display:table-cell;
                    vertical-align: top;
                    margin:5px 10px 0 0;
                    
                    @media(max-width:1199px){
                        width: 120px;
                        display: inline;
                        float: left;
                    }
                    @media(min-width:1200px){
                        width: 120px;
                    }    
                    @media(min-width:1500px) {
                        width:150px;
                    }
                  }
                }
              }
            }
        }
    }
    
    
    #sponsors {
        border: 0 none;
        box-shadow: 0 transparent;
        // background-color: transparent;
        padding-bottom: 10px;
        h2 {
            margin-bottom: 0;
        }
        .sponsor-items {
            width:100%;
            text-align:center;
            @media(max-width:1499px) {
              margin: auto;
            }
            div {
                width:31%;
                padding: 5px 10px;
                display: inline-block;
                
                @media(max-width:1499px) {
                  width: 48%;
                  margin: auto;
                }               
                
                img {
                    max-width:145px;
                    margin:0;
                }
            }
        }
    }
    
    #jobs {
        background: #00AEEF;
        color: #fff;
        margin: 20px 0;
        padding: 10px 20px;
        
        .jobadvertise {
            h2 {
                img {
                    width:auto;
                    margin: 0 8px;
                    vertical-align: middle;
                    border:0 none;
                    box-shadow: inherit;
                }
            }
        }
        
        ul {
            height: 200px;
            overflow-y: scroll;
            margin: 10px 0;
            color: #666;
        }
        .jobfoot {
            display:table;
            width:100%;
            .jobmore {
                text-align: right;
            }
            .jobpost {
                text-align: left;
            }
            .jobmore, .jobpost {
                display:table-cell;
                padding: 0;
                a {
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }
    

    > #vui-service-sheet-template { display: none; }
    
    > #vui-service-sheet {
        background: none repeat scroll 0 0 #F6F6F6;
        font-family: Lato,Helvetica,Arial,sans-serif;
        border: 5px solid #1FA6DE;
        box-shadow: 0 0 7px #CCCCCC;
        margin: 0 0 20px 0;
        
        .loading {
            text-align: center;
            padding: 30px 0 15px 0;
            background-color: #fff;
            img {
                width: auto;
            }
        }
        
        .header {
          color: #fff;
          padding: 5px 8px;          
          display:table;
          width:100%;
          @media(max-width:1199px){
            padding: 5px 3px;
          }
          .strapline {
            display:table-cell;
            h2 {
                font-size:1.3em;
                text-align:left;
                margin: 0 0 5px 0;
                @media(max-width:1199px){
                  font-size:1.2em;
                }
            }
            h3 {
                font-size:0.9em;
                margin: 0;
                text-align:left;
                font-weight:700;
                a {
                  color: #fff;
                  text-decoration: underline;
                }
            }
          }
          .link {
            display:table-cell;
            vertical-align: middle;
            text-align: right;
            a {
                font-size:0.9em;
                color:#fff;
                padding: 6px 10px;
                border: 1px solid #fff;
                border-radius: 4px;
                background-color: #DE7C1E;
                white-space: nowrap;
                @media(max-width:1199px){
                  padding: 6px 5px;
                }
                @media(min-width:1200px){
                  font-size:1.0em;
                }
                @media(min-width:1500px){
                  font-size:1.1em;
                }                
            }
          }
          background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmYTZkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNiYzJmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fa6de), color-stop(100%, #3bc2fc));
          background: -webkit-linear-gradient(top, #1fa6de, #3bc2fc);
          background: -moz-linear-gradient(top, #1fa6de, #3bc2fc);
          background: -o-linear-gradient(top, #1fa6de, #3bc2fc);
          background: linear-gradient(top, #1fa6de, #3bc2fc);
        }
     
        article {
          header {
            background-color: #fff;
            padding: 8px 10px;
            h1 {
              margin: 2px 10px;
              font-size: 1.6em;
            }
            .intro {
              .b-info {
                border: 1px solid #CCCCCC;
              //  box-shadow: 0 0 7px #CCCCCC;
                border-radius: 15px;
                margin: 10px 0;
              //  padding:12px;
                padding:0;
                overflow:hidden;
                
                @media(max-width:1199px){
                  border-radius: 10px;
                }
                
                .img {
                    display:inline-block;
                    vertical-align: middle;
                    width: 130px;
                    border-radius: 12px;
                    overflow:hidden;
                    margin: 0 20px 0 0;
                    @media(max-width:1499px){
                      width:115px;
                      border-radius: 10px;
                    }
                    @media(max-width:1199px){
                      width:90px;
                      border-radius: 8px;
                    //  margin: 0 10px 0 5px;
                      margin: 0 10px 0 0;
                    }
                    img {
                      width:100%;
                      margin: 0;
                    }
                }
                .table {
                    display:inline-block;
                    vertical-align: middle;
                    width:360px;
                    margin-bottom: 0;
                      @media(max-width:1499px){
                        width:260px;
                      }
                      @media(max-width:1199px){
                        width:215px;
                      }
                    table {
                      width:100%;
                      font-size:0.9em;
                      /*
                      @media(min-width:1500px){
                        font-size:1em;
                      }
                      */
                      tr {
                        border-bottom: 1px dotted #e0e0e0;
                        &:last-child {
                          border-bottom: 0px none;
                        }
                        td, th {
                            vertical-align: top;
                            padding: 5px;
                            &:first-child {
                              width: 100px;
                              @media(min-width:1500px){
                                width:110px;
                              }
                            }
                        }
                      }
                    }
                }
              }
            }
          }
        
          .b-stats {
            ul {
              background: transparent;
              border-radius: 0;
              box-shadow: inherit;
              color: #fff;
              li {
                display:inline-block;
                width:49%;
                vertical-align: top;
                text-align: center;
                border: 0;
                padding-top: 5px;
                .count {
                  font-size:1.6em;
                  font-weight: bold;
                  line-height:1em;
                  span.fa {
                    font-size:1em;
                    padding-left: 10px
                  }
                }
                .title {
                  font-size:0.9em;
                }
              }
            }
            background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmYTZkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNiYzJmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1fa6de), color-stop(100%, #3bc2fc));
            background: -webkit-linear-gradient(top, #1fa6de, #3bc2fc);
            background: -moz-linear-gradient(top, #1fa6de, #3bc2fc);
            background: -o-linear-gradient(top, #1fa6de, #3bc2fc);
            background: linear-gradient(top, #1fa6de, #3bc2fc);
          }
        
          .b-store-ratings {
            background-color: #fff;
            padding: 5px;
            h2 {
                text-align: left;
                margin: 0;
            }
            h3 {
                font-size: 0.9em;
                font-style: italic;
                color: #666;
                margin: 0;
            }
            ul {
              background: transparent;
              border-radius: 0;
              box-shadow: inherit;
              li {
                display: inline-block;
                width: 24%;
                text-align: center;
                border: 0;
                img {
                  height: 40px;
                  width: auto;
                  margin: 0;
                }
                .rate {
                    display: block;
                    height: 22px;
                    margin: 7px auto 0;
                    width: 120px;
                    &.rate05 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -192px rgba(0, 0, 0, 0);
                    }
                    &.rate15 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -224px rgba(0, 0, 0, 0);
                    }
                    &.rate25 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -256px rgba(0, 0, 0, 0);
                    }
                    &.rate35 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -288px rgba(0, 0, 0, 0);
                    }
                    &.rate45 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -320px rgba(0, 0, 0, 0);
                    }
                    &.rate0 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                    }
                    &.rate1 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0);
                    }
                    &.rate2 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -64px rgba(0, 0, 0, 0);
                    }
                    &.rate3 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -96px rgba(0, 0, 0, 0);
                    }
                    &.rate4 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -128px rgba(0, 0, 0, 0);
                    }
                    &.rate5 {
                        background: url("../../images/rating-stars.png") no-repeat scroll 0 -160px rgba(0, 0, 0, 0);
                    }
                }
                
              }              
            }
          }
          
          .b-screenshots {
            background-color: #fff;
            padding: 8px 0 0;
            overflow: hidden;
            position:relative;
            h2 {
                text-align: left;
                margin: 0 0 5px 10px;
            }
            .lightbox-ctrl {
                cursor: pointer;
                font-size: 4em;
                font-weight: 700;
                position: absolute;
                z-index: 10;
                bottom: 0px;
                height: 135px;
                background-color: #fff;
                line-height:120px;
                color: #aaa;
            }
            .lightbox-next {
                right: 0px;
            }
            .lightbox-prev {
                left: 0px;
            }
            &:hover .lightbox-ctrl {
                color: #000;
            }
            .carousel {
              // box-shadow: 0 0 5px #CCCCCC inset;
              // border-radius: 4px;
              margin: 0 30px;
              ul {
                background: transparent;
                border-radius: 0;
                box-shadow:inherit;
                padding-top:0;
                li {
                  display:inline-block;
                  width: 140px;
                  font-size: 0.9em;
                  color: #000;
                  margin: 0 8px;
                  span {
                    display:block;
                    &.name {
                      font-weight:bold;
                    }
                    &.img {
                      height: 90px;
                      overflow: hidden;
                      border:1px solid #ccc;
                    }
                  }
                }
              }
              
            /*  background : url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlN2MxZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiOTkzYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
              background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #de7c1e), color-stop(100%, #fb993b));
              background: -webkit-linear-gradient(top, #de7c1e, #fb993b);
              background: -moz-linear-gradient(top, #de7c1e, #fb993b);
              background: -o-linear-gradient(top, #de7c1e, #fb993b);
              background: linear-gradient(top, #de7c1e, #fb993b);
            */  
            }
          }
        }
     
    }
    
  }
}
