

#VP50lightbox {
  background: url('/css/images/50VP_lightbox.png') top left no-repeat;
  float:left;
  width: 609px;
  margin: 20px 3px;
  height: 547px;
  box-shadow: 0 3px 3px 2px #999999;
  position:relative;
  
  
    #sash {
        position:absolute; top:0; right:0; z-index:2; width:83px; height:83px; 
    }
  
    &.nordic-2014 { 
        background: url('/css/images/50VP_lightbox_nordic.png') top left no-repeat; 
        #sash { 
            background: url('/css/images/50VP_Lightbox-2014-sash.png') top right no-repeat;  
        }
    }
    &.vp-2014 {
        #sash {
            background: url('/css/images/50VP_Lightbox-2014-sash.png') top right no-repeat;  
        }
    }
    &.vp-2013 {
        #sash {
            background: url('/css/images/50VP_Lightbox-2013-sash.png') top right no-repeat;  
        }
    }
    #VP50content {
      float: left;
      margin: 80px 12px 12px 12px;
      background-color:#fff;
      padding: 12px;
      border-radius: 5px 5px 5px 5px;
      height: 325px;
      width:  583px;
      
      .rhside {
          float: right;
          margin-left: 10px;
          width: 202px;
        }
        h2 {
          float: left;
          width: 335px;
          margin: 0;
          padding: 0;
          font-weight: bold;
          font-style: normal;
          font-size: 1.4em;
        }
        h3 { 
          float: left;
          width: 335px;
          margin: 0;
          padding: 0;
          margin: 6px 0;
          font-style: normal;
          font-size: 1.1em;
        }
        p {
          float: left; 
          width: 335px;
        }
        .brief {
          font-size: 0.9em;
          font-weight: bold;
          color: #c00;
          margin: 0;
          padding: 0;
          display: block;
        }
        .long {
          font-size: 0.9em;
          margin: 0;
          padding: 0;
          padding-top: 6px;  
          display: block;
        }
        .portrait {
          border: 1px solid black;
          width:  202px;
          height: 202px;
          margin-bottom: 12px;
          overflow-y: hidden;
          overflow-x: hidden;
          float: left;
        }
        a.more {
            font-size: 0.8em;
            font-style: italic;
            font-weight: bold;
            line-height: 1.4em;
            margin: 0;
            padding: 0;
        }
    }
    .VP50loading {
      position: absolute;
      margin-top: 118px;
      left:    271px;
      width:    64px;
      height:   64px;
      z-index:  101;
      display:  none;
    }
    
    .content {
      float: left;
      display: none;
    }
    
    #VP50navbar {
      float: left;
      height: 30px;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      background-color: #1A1F24;
      width: 610px;
      
        a {
          display: block;
          color: #fff;
          text-decoration: none;
          font-weight: bold;
            &:hover {
              cursor: pointer;
              color: #fff;
              text-decoration: underline;
            }
            &.prev { 
              float: left;
            }
            &.next { 
              float: right;
            }
        }
    }
    
    #VP50ad {
      border: 1px solid #000;
      float: left;
      width: 607px;
      height: 30px;
      margin-top: 18px;
    }

    #VP50roller_cont {
      float: left;
      width: 609px;
      height: 64px;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      background-color: #000;
        .scrubleft, .scrubright {
          float:left;
          width: 16px;
          height: 60px;
          background-color: #000;
          cursor: pointer;
        }
        .scrubleft {
          background: 0px 21px url("/css/images/scrub-left.png")no-repeat;
        }
        .scrubright {
          background: 0px 21px url("/css/images/scrub-right.png") no-repeat;
        }
    }
    #VP50roller {
      float: left;
      width: 576px;
      height: 64px;
      overflow-x: hidden;
      overflow-y: hidden;

        ul {  
          display: inline;
          float: left;
          position: relative;
          left: 0px;
          width: 3400px; /* 50 * (60+4) */
          left: 0;
          padding-left: 0px;
          
            li {
              list-style-type: none;
              padding: 0 2px;
              margin: 0;
              display: inline;
              float: left;
              width: 64px;
              cursor: pointer;
                img {
                  z-index: 99;
                }
                .overlay {
                  background: url("/css/images/overlay.png") ;
                  width:64px;
                  height:62px;
                  z-index: 101;
                  position:absolute;
                  visibility: hidden;
                  text-align: center;
                  font-family: "Arial","Helvetica";
                  font-weight: bold;
                  font-style: italic;
                  font-size: 45px;
                  color: #fff;
                }
            }
        }
    }
}








