/* Created by Márk Tolmacs 02 2014 */
/* With additional edits by Oliver Wood */
$body-font-family: Lato, Helvetica, Arial, sans-serif;
$headline-font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica,Arial, sans-serif;

$dotted-border: 1px dotted #ccc;


/* BASE */
@import 'base';

/* HEADER */
@import 'navigation';

/* NEWS */
#columns {
  margin-top: 150px;
  @media (max-width: 991px) {
    margin-top: 120px;
  }
  @media (max-width: 767px) {
    margin-top: 55px;
  }

  ul.nav.nav-tabs {
    li {
      a { 
        font-weight: 700;
      }
    }
  }
  .tab-content {
    .tab-pane {
        padding-top: 10px;
    }
  }
  
  #xs-nav {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
    padding-top: 1em;
    height: 50px;
    width: 100%;

    a#tab-news {
      width: 40%;
    }
    a#tab-featured {
      width: 60%;
    }
    a {
      padding-top: 10px;
      padding-bottom: 15px;
      display: block;
      float: left;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      background-color: #CCC;
      height: 43px;
      color: #333;
    }
    a:hover {
      text-decoration: none;
      color: #333;
    }
    a.active {
      border-top: 1px solid #9B0000;
      background-color: #FFF;
    }
  }

  .articles {
    img {
      width: 100%;
    }
    h2 {
      border-top: 5px solid #999;
      border-bottom: 1px solid #d4d4d4;
      margin: 0 0 20px 0;
      padding: 8px 0;
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  #main {
    padding: 0;
    background-color: #FFF;
    box-shadow: 0 0 7px #CCC;
    @media (max-width: 767px) {
      box-shadow: none;
    }

    section {
      padding: 1.4em;
    }

    #pager-wrap, .pager-wrap {
      clear: both;
      width: 100%;
      padding: 15px;
    }
    .pager-wrap {
      text-align: center;
    }
    .pager-loading {
      display: none;
      padding-left: 40%;

      img {
        width: auto;
        text-align: center;
      }
    }
    .pager {
      display: none;
      &.home {
        display: inline-block;
      }
    }
  }

  /* PROMOTION */
  @import "promotion";

}

.home {
  @import "home";
}

.news {
  @import "news";
}

.story {
  @import "story";
}

#error {
  @import "error";
}

.signuplogin {
  @import "signuplogin";
}

.form {
  @import "form";
}

@import "vp50";

@import "footer";