<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="UserDataDbDSN" value="server=localhost;database=vodprofessional_dev_umbraco2;user id=vodprofessional_dbo;password=lan!£%&amp;1KAK" />
    <add key="PollSQL" value="insert into VP_PeoplePoll (Person,Details) VALUES (?,?)" />
  </appSettings>
  
</configuration>
