@using VP2.businesslogic;
@{
   VPMember m = VPMember.GetLoggedInUser();
   if (m != null)
   {
        <li><span>Welcome @m.FirstName</span></li>
        <li><a href="/members/profile">Account Admin</a></li>
   }
   else 
   {       
        <li><a href="/login">Sign In&nbsp;|&nbsp;Register</a></li>
   } 
    
}