/* CSS Document */


.service .b-nav-panel { position:fixed; }

.b-logo .big-logo { display: none; }
.b-logo .big-logo .logo { width:220px; }
.home .b-logo .small-logo { display:none; }
.home .slogan {
    margin: 0 0 25px;
}
.vod-logo { margin-left: 101px; }
.b-footer-nav { margin-left:147px; text-align:left; padding-bottom:15px; }
.footer-nav-col { margin-right:160px; }
.copyright {
    clear: left;
    color: #FFFFFF;
    float: left;
    font-size: 0.83em;
    margin: 20px 0 0;
    width: 100%;
}


header { height: 150px; }
.home header { height: 130px; }
.home h1 { font-weight:normal; }
.home p { font-size:16px; }
h1, h2, .main-top h1 { font-weight:normal; }


.b-header-nav {  right: 620px;  }
.home .b-header-nav {  right: 445px;  }
.header-nav-item a { font-weight:bold; }

.home .home-slide .slide-content  h2 {
    font-size: 18px;
    margin: 15px 0 5px;
    font-weight:bold; 
    font-style: normal;
}

.device-coming-soon-sash { position: absolute; z-index: 3; opacity:0.85; top:0; left:0; background: url(/_inc/images/tmp/coming-soon.png) top left no-repeat; float:none; width:80px; height:80px; }
.b-matrix-nav ul li a { display:block; }
.b-matrix-nav .device-coming-soon-sash { top:-18px; }





.second .slide-img { width: 174px; position: absolute; right:13px; display: inline-block; vertical-align: top;}
.second .slide-img .b-iphone { margin-top:0; }
.second .slide-img ul li { width: 150px; clear:none !IMPORTANT; }
.second .slide-img ul li img {
    vertical-align: inherit;
}

#home-slide1 .slide-content {
    margin: 0 46px 0 327px;
    width: 485px;
}

#home-slide4 .slide-content { z-index:3; }

#home-slide5 .slide-img > img {
    left: -62px;
    top: -30px;
}
#home-slide5 .slide-gallery {
    left: -28px;
    top: -4px;
    width: 327px;
}

.home .slide-img a { z-index: 3; }
.home .slide-img ul li img { vertical-align:inherit; }
.home .slide-img > .slide-link { position:absolute; z-index:3; display:block; }



.slide-link.win { height: 202px;
    right: 60px;
    top: 0;
    width: 339px; }
.slide-link.droid { height: 202px;
    left: 10px;
    top: 0;
    width: 339px; }
.slide-link.ipad  
{
    height: 350px;
    left: 120px;
    top: 0;
    width: 450px;
}
.slide-link.laptop  
{
   height : 246px;
    left: -37px;
    top: -20px;
    width: 354px;
}

.main-top .inner 
{
    background: url("/_inc/images/bg-main-top.png") no-repeat scroll 0 0 transparent;
}
.main-top .inner p 
{
    font-size:16px;
    margin-bottom:10px;
}

.loggedin .main-top .inner 
{
    background: none transparent;
    padding-left:5px;
}

.b-logo {
  top: 35px;
}

.site-name {
  font-size: 48px;
}

.slogan {
  font-size: 18px;
}

.b-right-nav {
	right: 20px;	
	left:inherit;
	margin-right: 0px;
}

.b-right-nav ul li { padding: 2px 7px; }
.b-right-nav ul li a { font-size:16px; }
.b-right-nav ul li a span, .home .b-right-nav span { padding-top: 0; float:left; margin: 0 10px 0 0; }
.b-right-nav .favs-count { padding: inherit; margin:0; float:none; width:inherit; }
.tabs li a {
    background-color: #FAFAFA;
}
.b-tabs-devices .tabs li a {
    background-color: #FAFAFA;
    position:relative;
}
.b-tabs-devices .tabs li a.current {
    background-color: #FFFFFF;
}

.b-logged-service .panes 
{
    background: #7db51c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjUxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5N2NlMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #7db51c 0%, #97ce32 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db51c), color-stop(100%,#97ce32)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7db51c 0%,#97ce32 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7db51c 0%,#97ce32 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7db51c 0%,#97ce32 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7db51c 0%,#97ce32 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db51c', endColorstr='#97ce32',GradientType=0 ); /* IE6-8 */
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}

.b-logged-service ul.tabs li.choose a, .b-logged-service ul.tabs li.choose a.current {
    background: #7db51c;
    border: medium none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 23px;
}

.b-logged-screenshots .pane a
{
  color: #fff; 
}
.b-logged-screenshots .inner .screenshots-carousel ul li a {
    color: #fff;
}

.b-logged-screenshots .inner .screenshots-carousel ul li[style] { overflow: hidden !IMPORTANT; }

.b-logged-screenshots .pane 
{
  color: #fff;
  background : url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlN2MxZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiOTkzYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #de7c1e), color-stop(100%, #fb993b));
  background: -webkit-linear-gradient(top, #de7c1e, #fb993b);
  background: -moz-linear-gradient(top, #de7c1e, #fb993b);
  background: -o-linear-gradient(top, #de7c1e, #fb993b);
  background: linear-gradient(top, #de7c1e, #fb993b);
}

.b-logged-screenshots .inner .screenshots-carousel .shadow-left, .b-logged-screenshots .inner .screenshots-carousel .shadow-right {
    background: none transparent;
}


.b-logged-service .panes .pane ul li {
    border-right: 1px solid #abd267;
}
.b-logged-service ul.tabs li a 
{
    color: #000;
    border-color: #7db51c;
}
.b-logged-service ul.tabs li a.current {
    background: none repeat scroll 0 0 #7db51c;color: #fff;
}

.b-logged-service .panes .pane.favs .col { float:left; width:150px; font-size:1.1em; margin: 0 100px 0 0;}
.b-logged-service .panes .pane.favs .col.first { margin-left:250px; margin-right:20px; width: 400px; }
.b-logged-service .panes .pane.favs .col.last { margin-right:0; margin-top:30px; vertical-align:bottom; color:#fff; width:200px; font-style:italic;}
.b-logged-service .panes .pane.favs .col h2 { font-size: 1.6em; font-weight:bold; color:#fff; padding:0; margin:10px 0 0; line-height:normal; }
.b-logged-service .panes .pane.favs .col p { margin: 5px 0; }
.b-logged-service .panes .pane.favs ul { margin: 2px 0 20px}
.b-logged-service .panes .pane.favs ul li { display:block; float:none; border:0px none; height:auto; padding: 2px 0; text-align:left;}
.b-logged-service .panes .pane.favs a { color:#fff; }
.b-logged-service .panes .pane.favs a.add-favourite-service { font-size: 24px;  margin: 0 0 0 6px; vertical-align: top; }


.favourite-images-message { display:none; width:400px; margin: 50px auto 0; font-size:1.2em; text-align:center; padding: 15px; box-shadow: 0 0 13px rgba(0, 0, 0, 0.15); border-radius: 8px; }

#favourite-template, #favourite-image-template { display: none; }

.b-logged-screenshots .inner .screenshots-carousel { margin-top: 10px; }
.b-logged-screenshots .inner .screenshots-carousel ul li span.img { height:125px; overflow:hidden; }
.b-logged-screenshots .pane { background-color:#ffffff; box-shadow: 0 0 13px rgba(0, 0, 0, 0.15); }
.b-logged-screenshots .pane .inner { margin:10px auto; }
.b-logged-screenshots .inner .screenshots-carousel ul li { margin-top:10px; margin-bottom:10px; }
.panes .b-tiles-tiles .inner {
    width: 100% !important;
}

#btn-image-search { cursor:pointer; }
.selecter.open { z-index:550; }

.b-tabs-devices .panes .inner { border-radius:10px; }
.service .b-app-stores .b-stores-devices { border-radius:10px; }
.service .b-app-stores .tblock td {
    height: 50px;
    vertical-align: middle;
    width: 160px;
    line-height:normal;
}

.service .b-app-stores .rate.rate05 {
  background: url('../images/rating-stars.png') no-repeat 0 -192px;
}
.service .b-app-stores .rate.rate15 {
  background: url('../images/rating-stars.png') no-repeat 0 -224px;
}
.service .b-app-stores .rate.rate25 {
  background: url('../images/rating-stars.png') no-repeat 0 -256px;
}
.service .b-app-stores .rate.rate35 {
  background: url('../images/rating-stars.png') no-repeat 0 -288px;
}
.service .b-app-stores .rate.rate45 {
  background: url('../images/rating-stars.png') no-repeat 0 -320px;
}


.service .service-category {
    line-height: 1.2em;
    padding-top: 6px;
}

.b-matrix-files img.service-icon { height:27px; }
.b-matrix-files .inner .matrix-block ul li .img { overflow: hidden; }
.b-matrix-files .inner .matrix-block a:hover { font-weight:bold; }
.b-matrix-files .inner .matrix-block a:hover ul { background-color: #fafafa; }
.ratings .b-matrix-nav ul {
    display: table;
    width: 100%;
}
.b-matrix-nav ul li a { position:relative; }
.ratings .b-matrix-nav ul li:first-child { width:319px; text-align:left; vertical-align:bottom; }
.ratings .b-matrix-nav ul li:first-child a { color: #999; margin-bottom: 1px; margin-left:3px; }
.ratings .b-matrix-nav ul li:first-child a.active  { color: #000; cursor:default; }
.ratings .b-matrix-files li .score { color:#000; }


.b-matrix-nav.nav-line li a span.order-by { font-size:16px; color:#fff; }
.b-matrix-nav.nav-line li a.device span.order-by { display:block;}
.b-matrix-nav.nav-line li a:hover span.order-by { color:#ddd; }
.b-matrix-nav.nav-line li a.active span.order-by { color:#000; }



.screenshot.ratings .main-content {
    margin-top: 0;
}

.article h2
{
    padding-left:0px;
    font-size: 26px;
    line-height: normal;
    margin-bottom: 15px;
    font-weight: bold;
}
.article h2.storySubtitle
{
    font-style:normal;
    font-size: 20px;
    margin-bottom: 10px;
}
.article .storybyline { margin-bottom: 15px; }
.article .storytext {  margin-bottom: 30px; margin-top: 30px; }
.article .storytext, .article .storytext p
{
    font-size: 16px;
    line-height: 24px;
}
.article .storytext {  margin-bottom: 30px; }
.article .storytext p { margin-bottom: 16px; }
.article .storytext .bp-story-image 
{
    max-width: 250px;
    border-radius:10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.article .storytext ol, .article .storytext ul { margin-left:35px; margin-bottom:15px;  }
.article .storytext ul { list-style: disc; }


#regwall h2 { font-weight:normal; font-style:normal; }
#regwall p, #regwall #register p {
    font-family: "Lato";
    font-size: 1em;
}
#regwall #register p { font-size:0.83em; }

h2.membercontent { height:20px; color: #000; background:transparent none; font-weight:normal; border-top: 1px dashed #999; margin-top: 20px;}


.article .other-stories {}
.article .other-stories.b-carousel { box-shadow: inherit; margin-bottom: 40px; clear:left; }
.article .other-stories.b-carousel .carousel { overflow:hidden; width:750px; margin-left:-15px;}
.article .other-stories.b-carousel .carousel ul {}
.article .other-stories.b-carousel .carousel ul li { display:inline; width:275px; height: 330px ; float:left;
                                                     -webkit-box-shadow:  0 0 3px 2px rgba(0, 0, 0, 0.15);
                                                     -moz-box-shadow:  0 0 3px 2px rgba(0, 0, 0, 0.15);
                                                     box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15); margin: 5px 15px; }
.article .other-stories.b-carousel .carousel ul li a { padding:10px; }
.article .other-stories.b-carousel .carousel ul li .mostpopimg { text-align: center; }
.article .other-stories.b-carousel .carousel ul li img { max-width: 165px; border-radius: 5px;}
.article .other-stories .arrow span { color: #CCCCCC; font-size: 60px; }
.article .other-stories.b-carousel .arrow.next { right: -5px; }
.article .other-stories.b-carousel .arrow { display: block; position: absolute; top: 185px; z-index: 50; }
.article .other-stories.b-carousel .arrow.disabled { display: none; }
.article .other-stories.b-carousel .arrow.prev { left: 15px; }
.article .other-stories h2 { font-weight: normal; }


.articlelist ul.bp-features {position: relative; }
.articlelist ul.bp-features li { width:100%; border-top: 2px dotted #F5F3F3; padding: 10px 0; display:table; }
.articlelist ul.bp-features li h2 { font-style:normal; font-size: 26px; padding-left:0px; line-height:normal; color:#000; }
.articlelist ul.bp-features li .bp-image { display:table-cell; vertical-align:top;}
.articlelist ul.bp-features li .bp-image img { max-width:200px; margin: 0 15px 0 0;  border-radius:5px;  }
.articlelist ul.bp-features li .bp-text {  display:table-cell; }
.panes .b-matrix-files .inner .item-block ul li .img { overflow:hidden; border-radius:3px;  }
.panes .b-matrix-files .inner .item-block ul li .img img { height:27px; }

.panes .b-tiles-tiles ul .service-item .service-img { overflow:hidden; border-radius:5px; }
.panes .b-tiles-tiles ul .service-item .service-img img { height:160px; }

.b-carousel.small h3 + p {
    margin-left: 5px;
}

a._device-disabled { cursor:default; }

.service .main-top .introduction .img { overflow:hidden; border-radius:8px; }
.service .main-top .introduction .img img { height:160px; }
.service .introduction .b-info { height: 160px; }
.service .introduction .b-info table { width:100%; }
.service .introduction .b-info table tr { border-bottom: 1px solid #E8E8E8; }
.service .introduction .b-info table tr.last { border-bottom: transparent none; }
.service .introduction .b-info table th, .service .introduction .b-info table td { text-align:left; padding: 7px 5px;  }
.service .introduction .b-info table th {  width: 30%;}
                               
.service .b-screenshots .carousel .screenshot-img { overflow:hidden; border-radius:12px; width:268px; height:172px; }
.service .b-screenshots .carousel .screenshot-img img { width:268px;  }

.service .b-carousel .carousel ul li, .benchmarking .b-carousel .carousel ul li { overflow:hidden; border-radius:8px; height:160px; }
.b-carousel .carousel ul li a { position:relative; }
.service .b-carousel.small ul li a img, .benchmarking .b-carousel.small ul li a img { height:160px; }
.service .b-carousel.small ul li a h4, .benchmarking .b-carousel.small ul li a h4 {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 #666666;
    height: 20px;
    left: 2px;
    line-height: 20px;
    margin: 0;
    opacity: 0.95;
    padding: 2px 4px;
    position: absolute;
    top: 2px;
}

.service .b-carousel.small li a .ui-service-score, .benchmarking .b-carousel.small li a .ui-service-score {
    background-color: #FF9900;
    border-radius: 5px 5px 5px 5px;
    bottom: 4px;
    color: #FFFFFF;
    font-size: 2em;
    font-weight: bold;
    height: 31px;
    line-height: 25px;
    padding: 3px 8px;
    position: absolute;
    right: 19px;
    text-align: center;
}

.item-block .b-content { overflow:inherit; }
.benchmarking .item-block .b-content .b-title { width:300px; }
.benchmarking .item-block .b-content .b-percentage { margin-left: 300px; }

.service .service-favourite { color: #7db51c; position:absolute; right: 30px; font-size: 26px; }
.service .service-favourite.favourite-disabled { color: #999; cursor:default; }

.service .b-bencmarking .item-block .b-content .t-block .title,
 .benchmarking .item-block .b-content .b-title li { position:relative; cursor:default; }
 
.service .b-bencmarking .item-block .b-content .t-block .title strong,
  .benchmarking .item-block .b-content .b-title li strong { display:inline-block; margin-right:4px; }
  
.service .b-bencmarking .item-block .b-content .t-block .title span.description,
 .benchmarking .item-block .b-content .b-title li span.description { display:none; }
 
.service .b-bencmarking .item-block .b-content .t-block .title span.description,
 .benchmarking .item-block .b-content .b-title li span.description { position:absolute; left:30px; top:-25px;   
                                                                     z-index:2;
                                                                      width:300px;                                                                      
                                                                    }
                                                                    
.service .b-bencmarking .item-block .b-content .t-block .title span.description span.desc-inner,
 .benchmarking .item-block .b-content .b-title li  span.description span.desc-inner {  
                                                                      border-radius: 5px 5px 5px 5px;
                                                                      -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 13px 5px;
                                                                      -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 13px 5px;
                                                                      box-shadow: rgba(0, 0, 0, 0.15) 0 0 13px 5px;
                                                                      z-index:3;
                                                                      display:block;
                                                                      position:absolute;
                                                                      left:30px;
                                                                      width:270px;
                                                                      padding:15px;
                                                                      background:#fff;
                                                                       }
                                                                       
.service .b-bencmarking .item-block .b-content .t-block .title span.description span.arrow,
 .benchmarking .item-block .b-content .b-title li span.description span.arrow
{
     background:url('/_inc/images/white-flyout-arrow.png') 0 0 no-repeat; position:absolute; z-index:4; width:30px; height:40px;
                                                                      
}

.service .b-bencmarking .item-block .b-content .t-block .title span.description, 
.service .b-bencmarking .item-block .b-content .t-block .title span.description p,
 .benchmarking .item-block .b-content .b-title li  span.description, 
  .benchmarking .item-block .b-content .b-title li  span.description p
{
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 4px;
}



/* Uber-tabs */
.uber-tabs ul.tabs { margin:0 10px;  }
 .b-tabs .tabs .uber-tab { display:inline-block; margin: 0 -1px -5px 5px; position: relative; z-index: 2; padding: 5px  0 0 0; vertical-align:bottom; }
 
.benchmarking .b-tabs .tabs .uber-tab { margin-left:1px; }
 
 .b-tabs .tabs .uber-tab { cursor:pointer; }
 .b-tabs .tabs .uber-tab._platform-disabled { cursor:default;}
 .b-tabs .tabs .uber-tab .title h3 { font-size:22px; display:none; }
 .b-tabs .tabs .uber-tab .title img { margin: -10px 10px 18px; }
 .b-tabs .tabs .uber-tab li { display:none;}
 .b-tabs .tabs .uber-tab .platform-image { height:51px; }
 .b-tabs .tabs .uber-tab.active { box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); border-radius: 5px 5px 5px 5px; background: #fafafa; cursor:default;}
 .b-tabs .tabs .uber-tab.active .title { display:inline-block; vertical-align:middle; text-align:center; padding: 0 10px 10px; }
 .b-tabs .tabs .uber-tab.active .title h3{ display:block; margin-bottom: 10px;}
 .b-tabs .tabs .uber-tab.active .title img { margin-top:0; margin-bottom: 10px; }
 .b-tabs .tabs .uber-tab.active li { display:inline-block; padding-top:10px; vertical-align:bottom; }
 .b-tabs .tabs .uber-tab.active li h3 { display: block; font-size: 16px; margin-top:-5px; padding: 0 6px;}
 .b-tabs .tabs .uber-tab.active li img { margin:0 6px; }
 .b-tabs .tabs .uber-tab.active li a { height:80px; color: #000;}
 .b-tabs .tabs .uber-tab.active li a._device-disabled { height:80px; color: #999;}
 .b-tabs .tabs .uber-tab.active .platform-image { height:32px; }

.b-matrix-nav ul { display:table; width:100%; }
.b-matrix-nav ul .uber-tab:first-child { margin-left:220px; }
.b-matrix-nav ul .uber-tab { cursor:pointer; display: inline-block; vertical-align: top; min-width:67px; }
.b-matrix-nav ul .uber-tab._platform-disabled { cursor:default;}
.b-matrix-nav ul .uber-tab .title { vertical-align: top; display:block; text-align:center; }
.b-matrix-nav ul .uber-tab .title h3 { font-size:18px; display:none; }
.b-matrix-nav ul .uber-tab .title img { margin: 10px 7px; }
.b-matrix-nav ul .uber-tab .devices { clear:left; display:block; margin-top: -20px; }
.b-matrix-nav ul .uber-tab li { display:none;}
.b-matrix-nav ul .uber-tab .platform-image { height:40px; }
.b-matrix-nav ul .uber-tab.active { box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); border-radius: 5px 5px 5px 5px; background: #fafafa; cursor:default;}
.b-matrix-nav ul .uber-tab.active .title { display:block; vertical-align:top; text-align:center; padding: 0 10px 0; }
.b-matrix-nav ul .uber-tab.active .title h3{ display:block; margin-bottom: 10px;}
.b-matrix-nav ul .uber-tab.active .title img { display:none; margin-top:0; margin-bottom: 10px; }
.b-matrix-nav ul .uber-tab.active li { display:inline-block; padding-top:10px; vertical-align:bottom; width:100px; }
.b-matrix-nav ul .uber-tab.active li h3 { display: block; font-size: 16px; margin-top:-5px; padding: 0 6px;}
.b-matrix-nav ul .uber-tab.active li img { margin:0 6px; }
.b-matrix-nav ul .uber-tab.active li a { height:80px; color: #000;}
.b-matrix-nav ul .uber-tab.active li a._device-disabled { height:80px; color: #999;}
.b-matrix-nav ul .uber-tab.active .platform-image { height:32px; }

.screenshot .panes .b-matrix-nav .inner { overflow:hidden; height: 87px; padding-top: 12px; }

/*  */
.b-matrix-files .inner .matrix-block ul li { display:inline-block; width:71px; }
.b-matrix-files .inner .matrix-block ul li.device { display:none; }
.b-matrix-files .inner .matrix-block ul li.device.visible { display:inline-block;width:100px;}
.b-matrix-files .inner .matrix-block ul li a { text-decoration: none; display:block; }
.b-matrix-files .inner .matrix-block ul li .-comp { cursor:pointer; }

/* The above screws up app-store-ratings */
.ratings .b-matrix-files .inner .matrix-block ul li {
    display: table-cell;
    height: 39px;
    text-align: center;
    vertical-align: top;
    width: 93px;
}
.ratings .b-matrix-files .inner .matrix-block ul li:first-child {
    text-align: left;
    width: 216px;
}

.item-block.hot-features h3 { 
    background: #e32a23; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzMmEyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjZiMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmI2YjM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #e32a23 0%, #fb6b38 100%, #fb6b38 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e32a23), color-stop(100%,#fb6b38), color-stop(100%,#fb6b38)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e32a23 0%,#fb6b38 100%,#fb6b38 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e32a23 0%,#fb6b38 100%,#fb6b38 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e32a23 0%,#fb6b38 100%,#fb6b38 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e32a23 0%,#fb6b38 100%,#fb6b38 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32a23', endColorstr='#fb6b38',GradientType=0 ); /* IE6-8 */
 }

.loggedin h1 {
    font-weight: normal;
}
.main-content .inner-title h2.title { font-size: 32px; font-style: italic; font-weight: normal; padding-left: 118px; }
.main-content .inner-title { width: 1150px !important; margin: 90px auto 0; }

.b-logged-service .inner .title, .b-logged-screenshots .inner .title { font-weight: normal; }

.b-logged-stats { margin-top:20px; }
.b-logged-stats a { color:#fff; }

/* same as b-appstores */
.service .b-stats {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 13px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 13px 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 13px 5px;
}

.b-logged-news ul { float:left; width:580px; }
.b-logged-news ul li { padding: 14px 0; }
.b-logged-news ul li a { clear:left; font-size:1.1em; }
.b-logged-news ul li span { float:left; height:45px; font-size: 30px; }
.b-logged-news a.news span { color: #000; }
.b-logged-news a.news:hover { color: #00A2FF; }
#lightbox-templates { display:none; }


.lightbox { background-color: rgba(128, 128, 128, 0.9); }
.lightbox h1 { display:none; }
.lightbox-leftside { background: none transparent; }

.lightbox-nav .thumb-img {
    max-height: 150px;
    overflow: hidden;
}

/*.lightbox-item { border-right:0px none; } */
.lightbox-item-img {
    overflow-y: auto;
}

.lightbox-dropdown .selecter { width:300px; }

.lightbox .service-selected { margin-left: 260px; }
.lightbox .group-selected { margin-left: 34px;  }

.lightbox-item-package {
    float: left;
    font-size: 18px;
    line-height: 37px;
    margin-right: 5px;
}

.lightbox.favourites .lightbox-dropdown .selecter-selected {
    color: #999999;
}

.lightbox .lightbox-dropdown .selecter-selected, .lightbox .favourites   {
    z-index: 549;
}

.lightbox.favourites .favourites 
{
    color: #FFFFFF;
}
.lightbox .favourites 
{
    background: url("../images/sprite.png") no-repeat scroll 100% -456px #424141;
    border-color: #6C6C6C;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #999999;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 34px;
    overflow: hidden;
    padding: 4px 10px 4px 15px;
    position: relative;
    text-overflow: clip;
    width: 180px;
}

.input-loading 
{
    background: url("/_inc/images/loading-animation.gif") no-repeat scroll right center transparent;
}

.logged-wellcome-img {
    overflow: hidden;
    position: relative;
}
.logged-wellcome-img .img {
    overflow: hidden;
    position: relative;
    display:block;
    width:110px;
    height:110px;
    margin: 10px auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    color: #fff;
    background: url(/_inc/images/member-image.png) no-repeat top left ;
}

.logged-wellcome-img .img span 
{
    font-size:12px;
    position:absolute;
    bottom: 10px;
    left:0;
    width:110px;
}
.logged-wellcome-img .img span em
{
    font-size:24px;
    display:block;
}

.logged-wellcome-img .img img {
    max-width:110px;
    max-height:110px;
}

.logged-wellcome-img .img .hidden 
{
    display:none;
}

.logged-wellcome-img input#fileupload {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    height: 120px;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#action-forms { display: none; }

.b-rightside-panel .form-text.invalid { border-color: #FF0000; }

fieldset.submitting { opacity: 0.95; }

.b-rightside-panel fieldset { position: relative; font-size:1.1em; }

.b-rightside-panel .error { display:none;  }
.b-rightside-panel .data-error { display:none;  }
.b-rightside-panel .error.form-error, .b-rightside-panel .data-error.form-error  { opacity: 0.92; bottom:70px; left:20px; padding:20px; font-size:16px; display:block; 
                                                                                    /* position:absolute; */ margin-top:5px; width:280px; color:#000; background-color: #fff; border: 2px solid #fff; border-radius:5px; cursor: pointer; }
.b-rightside-panel .error a.error-close, .b-rightside-panel .data-error a.error-close { /* position:absolute; */  margin-top:5px; top:5px; right:5px; color:#000; }

.b-rightside-panel .complete { display:none;  }
.b-rightside-panel .complete.form-complete { opacity: 0.92; bottom:70px; left:20px; padding:20px; font-size:16px; display:block; /* position:absolute; */  margin-top:5px; width:280px; color:#000; background-color: #fff; border: 2px solid #fff; border-radius:5px; cursor: pointer; }

.b-rightside-panel .form-password-recover { display: none; color:#fff; }

.forgotten-password { margin: -32px 0 0 12px; position: absolute; }


.b-rightside-panel fieldset { margin-bottom: 15px; }
.b-rightside-panel { color: #fff; width:340px; }
.b-rightside-panel .form-text { width:278px; }
.b-rightside-panel h1 { padding-bottom: 10px; }
.b-rightside-panel h2 { font-size: 20px; line-height: normal; }
.b-rightside-panel p { padding-bottom: 10px; }
.b-rightside-panel .form-submit { width:auto; padding:0 10px; margin-top:7px; }
.b-rightside-panel .form-submit[disabled] { color:#bbb; border-color:#bbb; }

.b-rightside-panel .form-expand { display:none; }
.b-rightside-panel .account-add-user, .b-rightside-panel #account-users { font-size: 1.2em; }
.b-rightside-panel .account-add-user { margin-bottom: 5px;     display: block; }
.b-rightside-panel .account-add-user span, .b-rightside-panel #account-users span { margin-right: 5px; }
.b-rightside-panel h2.account-users { display: none; font-style: normal; font-weight:bold; margin: 15px 0 0; padding: 0 }
.b-rightside-panel #account-users { background-color: #36364d; overflow-y:auto; padding:2px; }
.b-rightside-panel #account-users li { margin: 3px 0; }
/*
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  */

@media (min-width: 1200px) and (max-width:1439px) 
{
	.lightbox-dropdown .selecter { width:280px;  }
    .lightbox .service-selected { margin-left: 100px; }
}


@media (max-width: 1400px) {
  .lightbox .lightbox-gallery {
    width: 100%;
  }
  .lightbox .lightbox-item {
    width: 830px !important;
  }
  .lightbox .lightbox-next {
    left: 1116px;
  }
}


@media (min-width: 481px) and (max-width: 1400px) {

	#wrapper { min-width: inherit; }
	.inner { min-width:inherit; }
	footer { min-width:inherit; }
	
	.lightbox-dropdown .selecter { width:250px;}
    .lightbox .service-selected { margin-left: 100px; }
    
	#main .inner {
		margin: 0 auto;	
	}
}