<?xml version="1.0"?>
<configuration>

    <appSettings>

      <add key="umbracoDbDSN" value="server=DEV1-BITETOS\SQL2014;database=vodprofessional_umbraco_ext;user id=vodprofessional_dbo;password=number9dream" />

    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
