<?xml version="1.0"?>
<configuration>

    <appSettings>

        <add key="umbracoDbDSN" value="server=localhost\BITETOS;database=vodprofessional_umbraco_dist;user id=vodprofessional_dbo;password=number9dream"/>

    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
