<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
        <!-- 
			Urlrewriting.Net is a cool tool, what can make your urls look nice.
			The rewriting is controlled with regular expressions. To get more help
			look at http://www.urlrewriting.net/. 
				
			Remember to read the manual! 
			http://our.umbraco.org/wiki/recommendations/recommended-reading-for-web-developers

			The sample below rewrites a url from 
			"/product/someproductid.aspx" to 
			"/product.aspx?productid=someproductid" 
				
			The user will not see the rewritten path! The page that will be 
			loaded from umbraco will instead be:
			"/product.aspx?productid=someproductid" 
										
			<add name="produktidrewrite" 
				virtualUrl="^~/product/(.*).aspx" 
				rewriteUrlParameter="ExcludeFromClientQueryString" 
				destinationUrl="~/product.aspx?productid=$1" 
				ignoreCase="true" />
					
			This sample is usefull for a productpage, where the product comes from a 
			dynamic datasource, e.g. a database. The querystring "productid" can be loaded
			from the template, into a macro, that then loads the product!
				
			Any bugs or problems with the rewriter, contact Anders/Duckie
		-->


        <!-- VUI3 URLs -->


        <!-- Services Page does not land anywhere - go to screenshots -->
        <add name="vui3-services"
            virtualUrl="^~/vui(\d?)/services(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/screenshots/"
            ignoreCase="true"
    />
        <!-- Service Master -->
        <add name="vui3-service"
            virtualUrl="^~/vui(\d?)/services/([A-z0-9\-!\?_]*)(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/services/$2"
            ignoreCase="true"
    />

        <!-- Screenshots Landing Page -->
        <add name="vui3-screenshots"
            virtualUrl="^~/vui(\d?)/screenshots(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/screenshots/"
            ignoreCase="true"
    />
        <!-- Benchmarking Landing Page -->
        <add name="vui3-benchmarking"
            virtualUrl="^~/vui(\d?)/benchmarking(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/benchmarking/"
            ignoreCase="true"
    />

        <!-- Benchmarking Landing Page -->
        <add name="vui3-ratings"
            virtualUrl="^~/vui(\d?)/appstore-ratings(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/appstore-ratings/"
            ignoreCase="true"
    />
        <!-- Benchmarking Landing Page -->
        <add name="vui3-ratings-ordered"
            virtualUrl="^~/vui(\d?)/appstore-ratings/(.*)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/appstore-ratings?orderby=$2"
            ignoreCase="true"
    />


        <!-- Best Practice Guides Page -->
        <add name="vui3-bpg"
            virtualUrl="^~/vui(\d?)/best-practice-guides(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/best-practice-guides?alttemplate=vui3-storylisting"
            ignoreCase="true"
    />
        <!-- Best Practice Guides Page -->
        <add name="vui3-bpg-article"
            virtualUrl="^~/vui(\d?)/best-practice-guides/([A-z0-9\-]*)(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/best-practice-guides/$2?alttemplate=vui3-story"
            ignoreCase="true"
    />

        <!-- Home Page -->
        <add name="vui3-home"
            virtualUrl="^~/vui(\d?)(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/vui3-home"
            ignoreCase="true"
    />

        <!-- General -->
        <add name="vui3-general"
            virtualUrl="^~/vui3/(.*?)(\/?)$"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/$2"
            ignoreCase="true"
    />




        <add name="vui2-screenshots-home-legacy"
         virtualUrl="^~/vui/screenshots/All(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/screenshots"
         ignoreCase="true"
    />

        <!-- /vui/all/screenshots-->
        <add name="vui2-screenshots"
         virtualUrl="^~/vui/screenshots(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/screenshots"
         ignoreCase="true"
    />

        <!-- /vui/all/screenshots-->
        <add name="vui2-all-screenshots"
         virtualUrl="^~/vui/all/screenshots(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/screenshots"
         ignoreCase="true"
    />

        <!-- /vui/all/[service]/screenshots-->
        <add name="vui2-all-service-screenshots"
         virtualUrl="^~/vui/all/([A-z0-9\-]*)/screenshots(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/services/$1"
         ignoreCase="true"
    />

        <!-- /vui/[platform]/screenshots-->
        <add name="vui2-platform-screenshots"
         virtualUrl="^~/vui/([A-z0-9\-]*)/screenshots(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/services/$1"
         ignoreCase="true"
    />

        <!-- /vui/[platform]/all/[service]/screenshots-->
        <add name="vui2-platform-alldevice-service-screenshots"
         virtualUrl="^~/vui/([A-z0-9\-]*)/all/([A-z0-9\-]*)/screenshots(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/services/$2"
         ignoreCase="true"
    />

        <!-- /vui/[platform]/[device]/[service]/screenshots-->
        <add name="vui2-platform-device-service-screenshots"
         virtualUrl="^~/vui/([A-z0-9\-]*)/([A-z0-9\-]*)/([A-z0-9\-]*)/screenshots(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/services/$3"
         ignoreCase="true"
    />

        <!-- /vui/[platform]/[service]/screenshots-->
        <add name="vui2-platform-service-screenshots"
         virtualUrl="^~/vui/([A-z0-9\-]*)/([A-z0-9\-]*)/screenshots(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/services/$2"
         ignoreCase="true"
    />

        <!-- /vui/all/benchmarks-->
        <add name="vui2-benchmarking"
         virtualUrl="^~/vui/benchmarking(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/benchmarking"
         ignoreCase="true"
    />

        <!-- /vui/all/benchmarks-->
        <add name="vui2-all-benchmarking"
         virtualUrl="^~/vui/all/benchmarking(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/benchmarking"
         ignoreCase="true"
    />


        <!-- /vui/[platform]/[service]/benchmarking -->
        <add name="vui2-platform-service-benchmarking"
         virtualUrl="^~/vui/([A-z0-9\-]*)/([A-z0-9\-]*)/benchmarking(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/services/$2"
         ignoreCase="true"
    />

        <!-- /vui/[platform]~[device]/[service]/benchmarking-->
        <add name="vui2-platform-device-service-benchmarking"
         virtualUrl="^~/vui/([A-z0-9\-]*)~([A-z0-9\-]*)/([A-z0-9\-]*)/benchmarking(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/services/$3"
         ignoreCase="true"
    />

        <!-- /vui/[platform]~[device]/benchmarking-->
        <add name="vui2-platform-device-benchmarking"
         virtualUrl="^~/vui/([A-z0-9\-]*)~([A-z0-9\-]*)/benchmarking(\/?)$"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/vui/benchmarking"
         ignoreCase="true"
    />

        <!-- /vui/[platform]/benchmarking-->
        <add name="vui2-platform-benchmarking"
          virtualUrl="^~/vui/([A-z0-9\-]*)/benchmarking(\/?)$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/vui/benchmarking"
          ignoreCase="true"
    />

        <add name="spi"
          virtualUrl="^~/spi/(\d*)/([A-z0-9]{8})"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/spi/?u=$1&amp;s=$2"
          ignoreCase="true"
    />

        <!--
    <add name="vuibenchmarking0"
      virtualUrl="^~/vui/benchmarking(\/?)$"
      rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/vui/uibenchmark"
      ignoreCase="true"
    />
    -->

        <!-- /vui/benchmarking or /vui/benchmarking/Web or /vui/benchmarking/Tablet/iPad  -->
        <!--<add name="vuibenchmarking1"
      virtualUrl="^~/vui/benchmarking/devices(\/?)([A-z\-]*)(\/?)([A-z0-9\-]*)"
      rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/vui/uibenchmark?platform=$2&amp;device=$4"
      ignoreCase="true"
    />
-->
        <!-- /vui/benchmarking/12345/BBC-iPlayer/Web or /vui/benchmarking/12345/BBC-iPlayer/Tablet/iPad -->
        <!--
    <add name="vuibenchmarking2"
      virtualUrl="^~/vui/benchmarking/service/(\d+)(\/?)([A-z0-9\.\-]*)(\/?)([A-z0-9\-]*)(\/?)([A-z0-9\-]*)"
      rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/vui/uibenchmarkservice?serviceid=$1&amp;service=$3&amp;platform=$5&amp;device=$7"
      ignoreCase="true"
    />
    -->

        <!--

    <add name="vuiscreens-service"
      virtualUrl="^~/vui/screenshots/service/([A-z0-9\-]*)(\/?)([A-z0-9\.\-]*)(\/?)([A-z0-9\-]*)"
      rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/vui/uitilesservice?platform=$1&amp;service=$3&amp;device=$5"
      ignoreCase="true"
    />

    <add name="vuiscreens-listing"
      virtualUrl="^~/vui/screenshots/([A-z0-9\-]*)(\/?)([A-z0-9\.\-]*)(\/?)([A-z0-9\-]*)"
      rewriteUrlParameter="ExcludeFromClientQueryString"
      destinationUrl="~/vui/uitiles?platform=$1&amp;service=$3&amp;device=$5"
      ignoreCase="true"
    />
-->
        <add name="vuisubscribe1"
          virtualUrl="^~/vui/subscribe(\/?)$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/vui/vuisubscribe"
          ignoreCase="true"
    />
        <add name="vuisubscribe2"
          virtualUrl="^~/vui/subscribe/checkout(\/?)"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/vui/vuisubscribecheckout"
          ignoreCase="true"
    />
        <add name="vuisubscribe3"
          virtualUrl="^~/vui/subscribe/process(\/?)([A-Z]*)(\/?)([A-z0-9]*)"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/vui/vuisubscribeprocess?VUIACTION=$2&amp;CODE=$4"
          ignoreCase="true"
    />
        <add name="vuisubscribe4"
          virtualUrl="^~/vui/subscribe/thankyou(\/?)([A-z0-9]*)$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/vui/vuisubscribethankyou?TXN=$2"
          ignoreCase="true"
    />
        <add name="vuisubscribe5"
          virtualUrl="^~/vui/loginregister/$"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="~/vui/loginregister"
          ignoreCase="true"
    />

        <add name="vuitidy"
          virtualUrl="^~/vui/(\?)umbPageID=[0-9]*"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vui/"
            ignoreCase="true"
    />


    </rewrites>
</urlrewritingnet>
