<?xml version="1.0"?>
<configuration>
    <appSettings>

        <add key="umbracoDbDSN" value="server=localhost\BITETOS;database=vodprofessional_umbraco;user id=vodprofessional_dbo;password=number9dream"/>






        <add key="VUI2_RatingDeviceTypes" value="Smartphone/Android;Smartphone/iPhone;Smartphone/Windows;Tablet/Android;Tablet/iPad"/>

        <add key="VUI2_ServiceMastersRoot" value="16934"/>






    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
