<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    </configSections>

    <log4net configSource="config\log4net.config" />


    <system.net>

        <mailSettings>
            <smtp deliveryMethod="Network" from="VOD Professional Administrator &lt;admin@vodprofessional.com&gt;">
                <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="admin@vodprofessional.com" password="hytg%$1934" />
            </smtp>
        </mailSettings>

    </system.net>


    <appSettings>
        <!--
      <add key="VUI_TwitterHandle" value="VUITestFeed"/>
      <add key="TwitterConsumerKey" value="h6Lp5q6y7mSu1dmOkAaNnQ"/>
      <add key="TwitterConsumerSecret" value="VUsktOaT6Z68cqm4U4jAQXXs7kmvWNbUjBQ0ZAzMCM"/>
      <add key="TwitterAccessToken" value="1670093640-7UHXI3zpk7tdd44FlZxGfr1gcsK77QRQpZaVfg"/>
      <add key="TwitterAccessTokenSecret" value="UaNgXlHUhSSV5Cipln943MrkdyvcZngqdKKmcHNE"/>
      <add key="TwitterOAuthURL" value="https://api.twitter.com/oauth2/token" />
      -->

        <add key="RatingsLookForMoreComments" value="yes" />
        
        <add key="VUI_TwitterHandle" value="vuilibrary"/>
        <add key="TwitterConsumerKey" value="7CSY9c3trg3TVOsTJQyIQ"/>
        <add key="TwitterConsumerSecret" value="5QdrL6tWFlaTHtUD899Rf4NzuAu6N1Cw5gM5bBczKQU"/>
        <add key="TwitterAccessToken" value="1583018654-s2kq2kKzWIYuVm836HjrYVVBKKhJvBgGcwXUnbT"/>
        <add key="TwitterAccessTokenSecret" value="VkKfjQKS9mX3baxuXKntCv1R5AaEwHju5QvmgtLc8"/>
        <add key="TwitterOAuthURL" value="https://api.twitter.com/oauth2/token" />


        <add key="VP50jsonpath" value="/media/VP50/vp50.js" />

        <add key="VP50Parent" value="2616" />
        <add key="VPSPIParent" value="2566" />
        <add key="VPSPIDocType" value="2563" />
        <add key="VPSPIImageRoot" value="/media/spi/" />
        <add key="VPMODE" value="live" />

        <add key="umb_vuiFolderRoot" value="2865" />
        <add key="VUI_importfolder" value="D:\Clients\vpro\VUI\Imports\" />

        <add key="VUI_importtempfolder" value="imgtmp" />
        <add key="VUI_mediafolder" value="~/vui-media/media/" />
        <add key="VUI_maxwidth_full" value="1280" />
        <add key="VUI_maxwidth_lg" value="760" />
        <add key="VUI_maxwidth_md" value="300" />
        <add key="VUI_maxwidth_th" value="170" />

        <add key="VUI_pagetypelist" value="2866" />
        <add key="VUI_ScoringPageTypes" value="2850" />
        <add key="VUI_substypelist" value="2852" />
        <add key="VUI_previewservice" value="4oD" />
        <add key="VUI_function_list" value="2850" />
        <add key="VUI_BenchmarkDevicesList" value="7489" />

        <add key="VUI_codesnippet_unauth" value="3869" />
        <add key="VUI_codesnippet_reg" value="3869" />
        <add key="VUI_codesnippet_subs" value="5357" />
        <add key="VUI_transaction_log" value="6772" />
        <add key="VUI_codesnippet_buy" value="6827" />
        <add key="VUI_product_list" value="6817" />
        <add key="VUI_information_root" value="6825" />

        <add key="VUI_invoicestatus_list" value="6812" />
        <add key="VUI_paypal_form" value="6820" />

        <add key="VUI_paypal_use_sandbox" value="YES" />
        <!-- NO -->
        <add key="VUI_paypal_ac" value="oliver_1346325251_biz@vodprofessional.com" />
        <!-- kauserkanji@ -->
        <add key="VUI_paypal_return" value="http://dev.vodprofessional.com/vui/subscribe/thankyou/#TRANSACTIONNUMBER#" />
        <add key="VUI_paypal_notify_url" value="http://dev.vodprofessional.com/vui/vuiipnprocess" />

        <add key="VUI_login_page" value="/vui/vuilogin" />
        <add key="VUI_loginregister_page" value="/vui/loginregister/" />
        <add key="VUI_confirm_page" value="/vui/vuilogin" />
        <add key="VUI_admin_page" value="/vui/vuiadmin" />
        <add key="VUI_subscribe_page" value="/vui/subscribe" />
        <add key="VUI_checkout_page" value="/vui/subscribe/checkout" />
        <add key="VUI_subscribecomplete_page" value="/vui/subscribe/complete" />
        <add key="VUI_preview_benchmark_url" value="/vui/benchmarking/devices/All" />

        <add key="VUI_confirm_email_template_path" value="~/App_Data/vui-email-confirm.txt" />
        <add key="VUI_registration_notification_email_template_path" value="~/App_Data/vui-email-reg-complete.txt" />
        <add key="VUI_subscription_complete_email_template_path" value="~/App_Data/vui-email-subscription-complete.txt" />
        <add key="VUI_password_reset_email_template_path" value="~/App_Data/vui-email-reset-password.txt" />

        <add key="VUI_pagetype_scores" value="Splash page,0;Homepage,1;Category homepage,4;Categorisation,4;Video description ,4;Branded video player ,6;Native video player,0;YouTube video player,0;Content recommendation,6;Most popular,4;Recently added,4;Favourites,6;Viewing history,6;EPG,0;Help,3;Watch on other platforms,6;Parental controls,4;Contact,6;About,5;Search,3;Predictive search,3;A-Z page,6;Playlists,6;Sign in / Register,3;Social sharing (out),4;Social sharing (in-service),6;Buy / Subscribe,6;Special functionality,6;Accessibility,4;Advertising functionality,0" />

        <!-- VUI 2 Constants -->
        <add key="VUI2_platformtype" value="VUI2Platform" />
        <add key="VUI2_devicetype" value="VUI2Device" />
        <add key="VUI2_servicetype" value="VUI2Service" />
        <add key="VUI2_analysistype" value="VUI2Analysis" />
        <add key="VUI2_rootnodeid" value="9978" />


        <add key="MEM_allowSetAllAsRegistrants" value="false" />

        <add key="umbracoDbDSN" value="server=localhost\BITETOS;database=vodprofessional_umbraco;user id=vodprofessional_dbo;password=number9dream" />
        <add key="umbracoConfigurationStatus" value="4.7.0" />
        <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx" />
        <add key="umbracoReservedPaths" value="~/umbraco,~/install/" />
        <add key="umbracoContentXML" value="~/App_Data/umbraco.config" />
        <add key="umbracoStorageDirectory" value="~/App_Data" />
        <add key="umbracoPath" value="~/umbraco" />
        <add key="umbracoEnableStat" value="false" />
        <add key="umbracoHideTopLevelNodeFromPath" value="true" />
        <add key="umbracoEditXhtmlMode" value="true" />
        <add key="umbracoUseDirectoryUrls" value="true" />
        <add key="umbracoDebugMode" value="true" />
        <add key="umbracoTimeOutInMinutes" value="60" />
        <add key="umbracoVersionCheckPeriod" value="7" />
        <add key="umbracoDisableXsltExtensions" value="true" />
        <add key="umbracoDefaultUILanguage" value="en" />
        <add key="umbracoProfileUrl" value="profiler" />
        <add key="umbracoUseSSL" value="false" />
        <add key="umbracoUseMediumTrust" value="false" />
        <!-- 
        Set this to true to enable storing the xml cache locally to the IIS server even if the app files are stored centrally on a SAN/NAS 
        Alex Norcliffe 2010 02 for 4.1 -->
        <add key="umbracoContentXMLUseLocalTemp" value="false" />
        <!-- Added in Umbraco 4.6.2 -->
        <add key="webpages:Enabled" value="false" />
        <add key="enableSimpleMembership" value="false" />
        <add key="autoFormsAuthentication" value="false" />
        <!-- End of added in Umbraco 4.6.2 -->
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>